*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* poppins font family */
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
    --poppins: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}



/*===------------------strted styles of nav section------------------===*/
nav {
    width: 100%;
    height: 80px;
    background-color: #232536;
    padding-top: 15px;
    border-bottom: solid 1px #2f3040;
}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
}

.navBar .navBar-menu {
    width: 529px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 36px;
}

.navBar-menu li a {
    position: relative;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #a7a8af;
    text-decoration: none;
}

.navBar-menu li .active {
    color: #FFFFFF;
}

.navBar-menu li a::after {
    content: "";
    position: absolute;
    background-color: #ffa155;
    height: 3px;
    width: 100%;
    left: 0;
    top: -29px;
    opacity: 0;
}

.navBar-menu li a:hover::after {
    opacity: 1;
    transition: 1s ease-out;
}

nav .btn-clone {
    width: 137px;
    height: 24px;
    border: none;
    background-color: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn-clone p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFD3AF;
}

.btn-clone img {
    width: 20px;
    height: auto;
}

/*===------------------//ended styles of nav section------------------===*/






/*===------------------started styles of header section------------------===*/
header {
    width: 100%;
    padding: 70px 0;
}

header .header-items {
    width: 100%;
    height: 918px;
    display: flex;
    justify-content: space-between;
}

.header-items .header-item1 {
    width: 624px;
    height: 918px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-item1 .blog-bage__headLogo {
    width: 24px;
    height: 24px;
    background-color: #ffdfc6;
}

.header-item1 .header-item1__caption {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: #000000;
}

.header-item1 h2 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    color: #232536;
    width: 600px;
}

.header-item1 .header-item1__text {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #404150;
}

.header-item1 button {
    width: 122px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: initial;
    cursor: pointer;
}

.header-item1 button span {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #444cfc;
}

.header-item1 .header-item1__person {
    width: 421px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item1__person .header-item1__personName {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #232536;
}

.header-item1__person .header-item1__border {
    width: 1.5px;
    height: 20px;
    background-color: #cccccc;
}

.header-item1__person .header-item1__personData {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #7b7c86;
}

.header-item1 .header-item1__fotoCard {
    display: flex;
    justify-content: space-between;

}


.header-item1__fotoCard-box {
    width: 16px;
    height: 390px;
}

.header-item1__fotoCard-box .header-item1__fotoCard-box1 {
    width: 16px;
    height: 15%;
    background-color: #434cfc;
}

.header-item1__fotoCard-box .header-item1__fotoCard-box2 {
    width: 16px;
    height: 60%;
    background-color: #ffd3af;
}

.header-item1__fotoCard-box .header-item1__fotoCard-box3 {
    width: 16px;
    height: 25%;
    background-color: #ffa155;
}


.header-items .header-item2 {
    width: 515px;
    height: 738px;
    background-color: #ffdfc6;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.header-items .header-item2 .header-item2__logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 52px;
}

.header-item2 .header-item2__innerBox {
    width: 366px;
    height: 166px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-item2 .header-item2__innerBox h4 {
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #232536;
}

.header-item2 .header-item2__infoBox {
    width: 167px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-item2 .header-item2__infoBox img {
    width: 32px;
    height: 32px;
}

.header-item2 .header-item2__infoBox .andrew {
    width: 123px;
    height: 42px;
}

.header-item2__infoBox .header-item2__andrewJon {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #232536;
}

.header-item2__infoBox span {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #7b7070;
}

/*===------------------//ended styles of header section------------------===*/



/*===------------------started styles of intro-main section------------------===*/
.intro-main {
    width: 100%;
    padding-bottom: 70px;
    padding-top: 12px;
}

.intro-main .intro-main__items {
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.intro-main__items h2 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    color: #232536;
}

.intro-main__items .intro-main__item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 32px;
}

.intro-main__item .intro-main__itemCard {
    width: 624px;
    height: 248px;
    position: relative;
}

.intro-main__itemCard h4 {
    font-family: var(--poppins);
    font-size: 25px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #232536;
    position: absolute;
    left: 320px;
    top: 24px;
}

.intro-main__itemCard .intro-main__itemCard-box {
    width: 167px;
    height: 42px;
    position: absolute;
    left: 320px;
    bottom: 24px;
    display: flex;
}

.intro-main__itemCard-box div {
    margin-left: 12px;
}

.intro-main__itemCard-box .intro-main__name {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #404150;
}

.intro-main__itemCard-box span {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #797a86;
}
/*===------------------//ended styles of intro-main section------------------===*/





main{
    width: 100%;
    height: 1480px;
    background-color:#f9f9f9;
    padding: 70px 0 60px 0;
}

main .main-items{
    width: 100%;
    height: 1390px;
}

main .main-items h2{
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    color: #232536;   
}

.main-items .main-item__card{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 32.5px;
    margin-top:40px;
}

.main-items .main-item{
    width: 405px;
    height: 592px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 36px;
    background-color:#ffffff;
}

.main-item__card .main-item h4{
    font-family: var(--poppins);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 2px;
    line-height: 36px;
    text-align: left;
    width: 341px;
}

.main-item__card .main-item p{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#404150;
    width: 341px;
}

.main-item__card .main-item  .main-item_person{
    width: 341px;
    height: auto;
    display: flex;
    align-items: center;
}

.main-item__card .main-item  .main-item_person img{
    width: 32px;
    height: 32px;
}

.main-item__card .main-item  .main-item_person > div{
    width:140px;
    height: auto;
    margin-left: 12px;
}

.main-item_person > div > span{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #232536;
}

.main-item_person > div > .div-data{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color:#7b7c86;
}


















/*===------------------started  styles of main-end section------------------===*/
.main-end {
    width: 100%;
    height: 500px;
    padding-top: 83px;
}

.main-end__item {
    width: 1280px;
    height: 334px;
    display: flex;
}

.main-end__item-card {
    width: 1256px;
    height: 333px;
    background-color: #666DFF;
    position: relative;
}

.main-end__item-card .main-end__item-card__caption {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: #ffffff;
    position: absolute;
    left: 90px;
    top: 70px;
}

.main-end .main-end__item-card h3 {
    font-family: var(--poppins);
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: #FFFFFF;
    width: 480px;
    position: absolute;
    left: 90px;
    top: 120px;
}


.main-end .main-end__item-card button {
    width: 454px;
    height: 65px;
    background-color: #FFFFFF;
    border: none;
    position: absolute;
    top: 140px;
    right: 120px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 24px;
    cursor: pointer;
}

.main-end .main-end__item-card button p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: #a7a8af;
}



.main-end__item-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 88px;
    height: 80px;
}

/*===------------------//ended styles of main-end section------------------===*/




/*===------------------started   styles of footer section------------------===*/
footer {
    width: 100%;
    height: 480px;
}

.footer-items {
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 64px;
}

.footer-item1 {
    width: 452px;
    height: 416px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-item1 img {
    width: 36px;
    height: 34px;
}

.footer-item1 h2 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    color: #232536;
}

.footer-item1 h4 {
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    color: #232536;
}

.footer-item1 .footer-number {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #232536;
    width: 160px;
}

.footer-item1 .footer-text {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #232536;
    width: 206px;
    border-top: 1px solid #00000014;
    padding-top: 28px;
}

.footer-item2 {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.footer-item2 ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-item2 ul li, a {
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
}

.footer-item2 ul li:hover {
    text-decoration: underline;
}

.footer-item2 ul li a h6 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #232536;
}

.footer-item2__child1 {
    width: 120px;
    height: 188px;
}

.footer-item2__child2 {
    width: 170px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer-item2__child2 ul li a, .footer-item2__child3 ul li a {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #232536;
}

.footer-item2__child3 {
    width: 97px;
    height: 188px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

footer .footer-contactBtn {
    width: 160px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: initial;
    text-decoration: none;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    color: #232536;
}

/*===------------------//ended styles of footer section------------------===*/



/*===------------------started styles of min-footer section------------------===*/
.min-footer {
    width: 100%;
    height: 80px;
    background-color: #FFE6d2;
}

.min-footer .footer-min__items {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-min__items .footer-min__item1 {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-min__item1 p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.footer-min__items .footer-min__item2 {
    width: 144px;
    height: 16px;
}

.footer-min__item2 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-min__item2 ul li, .footer-min__item2 ul li a {
    list-style-type: none;
    text-decoration: none;
}

.footer-min__item2 ul li, .footer-min__item2 ul li a i {
    color: #000000;
}

/*===------------------//ended styles of  min-footer section------------------===*/