*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* poppins font family */
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
    --poppins: 'Poppins', sans-serif;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}



/*===------------------strted styles of nav section------------------===*/
nav {
    width: 100%;
    height: 80px;
    background-color: #232536;
    padding-top: 15px;
    border-bottom: solid 1px #2f3040;
}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
}

.navBar .navBar-menu {
    width: 529px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 36px;
}

.navBar-menu li a {
    position: relative;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #a7a8af;
    text-decoration: none;
}

.navBar-menu li .active {
    color: #FFFFFF;
}

.navBar-menu li a::after {
    content: "";
    position: absolute;
    background-color: #ffa155;
    height: 3px;
    width: 100%;
    left: 0;
    top: -29px;
    opacity: 0;
}

.navBar-menu li a:hover::after {
    opacity: 1;
    transition:1s ease-out;
}

nav .btn-clone {
    width: 137px;
    height: 24px;
    border: none;
    background-color: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn-clone p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFD3AF;
}

.btn-clone img {
    width: 20px;
    height: auto;
}

/*===------------------//ended styles of nav section------------------===*/







/*===------------------started styles of header section------------------===*/
header{
    width: 100%;
    /* background-color: red; */
    padding: 70px 0  70px 0;
}

header .header-items{
    width: 1060px;
    height: 324px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-items .header-items__item1{
    width: 490px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.header-items__item1 .item1-caption{
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: #232536;
    text-transform: uppercase;
}

.header-items__item1 h2{
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: center;
    color: #232536;
}

.header-items__item1  .item1-text{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color:#404150;
    width: 400px;
}

.header-items__item1  button{
    width: 182px;
    height: 64px;
    background: linear-gradient(180deg, #444CFC 0%, #444CFC 100%);
    position: relative;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.header-items__item1  button img{
    position: absolute;
    left: 0;
    top: 0;
    width: 29px;
    height: 27px;
}

.header-items__item1  button span{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color:#e7e8ff;
}

.header-items__item1  button i{
    color:#ffffff;
}


.header-items .header-items__item2{
    width:515px;
    height:324px;
    background-color:#ffe0c7;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 60px 0 50px 70px;
}

.header-items .header-items__item2 img{
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 52px;
}

.header-items .header-items__item2  h4{
    font-family: var(--poppins);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #232536;
}

.header-items .header-items__item2  p{
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:#000000;    
}
/*===------------------//ended styles of header section------------------===*/



