*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* poppins font family */
@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
    --poppins: 'Poppins', sans-serif;
}


.container {
    max-width: 1280px;
    margin: 0 auto;
}








/*===------------------strted styles of nav section------------------===*/
nav {
    width: 100%;
    height: 80px;
    background-color: #232536;
    padding-top: 15px;
    border-bottom: solid 1px #2f3040;
}

.navBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
}

.navBar .navBar-menu {
    width: 529px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 36px;
}

.navBar-menu li a {
    position: relative;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #a7a8af;
    text-decoration: none;
}

.navBar-menu li .active {
    color: #FFFFFF;
}

.navBar-menu li a::after {
    content: "";
    position: absolute;
    background-color: #ffa155;
    height: 3px;
    width: 100%;
    left: 0;
    top: -29px;
    opacity: 0;
}

.navBar-menu li a:hover::after {
    opacity: 1;
    transition: 1s ease-out;
}

nav .btn-clone {
    width: 137px;
    height: 24px;
    border: none;
    background-color: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.btn-clone p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFD3AF;
}

.btn-clone img {
    width: 20px;
    height: auto;
}

/*===------------------//ended styles of nav section------------------===*/




/*===------------------strted styles of HEADER section------------------===*/
header {
    width: 100%;
    height: 898px;
    background-color: #232536;
}

.header-items {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
}

.header-items__item1 {
    width: 624px;
    height: 420px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-items__item1 .simbol1 {
    width: 24px;
    height: 24px;
    background-color: #303241;
}

.header-items__item1 h1 {
    width: 624px;
    height: 204px;
    font-family: var(--poppins);
    font-size: 56px;
    font-weight: 600;
    line-height: 68px;
    text-align: left;
    color: #FFFFFF;
}

.header-items__item1 .header-text {
    width: 528px;
    height: 48px;
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #a7a8af;
}

.header-items__item1 button {
    width: 219px;
    height: 64px;
    background-color: #434cfc;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    cursor: pointer;
}

.header-items__item1 button p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.header-items__item2 {
    width: auto;
    height: auto;
}

.header-items__item2 img {
    width: 563px;
    height: 632px;
}

header .header-logos {
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
}

.header-logos__title {
    width: 187px;
    height: 50px;
}

.header-logos__title p {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #a7a8af;
}

.header-logos__title h4 {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
}

/*===------------------//ended styles of nav section------------------===*/






/*===------------------//started styles of intro section------------------===*/
.intro {
    width: 100%;
}

.intro .intro-items {
    width: 100%;
    height: 848px;
    margin-top: 80px;
}

.intro-items .intro-items__title {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    text-transform: uppercase;
}

.intro-item1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-item1 h2 {
    width: 640px;
    height: 174px;
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    color: #232536;
}

.intro-item1__text {
    width: 547px;
    height: 172px;
}

.intro-item1 .intro-item1__text h3 {
    font-family: var(--poppins);
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: #232536;
}

.intro-item1 .intro-item1__text p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5D5F6D;
}

.intro-item2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.intro-item3 {
    width: 100%;
    height: 96px;
    margin-top: 56px;
    display: flex;
    align-items: center;
    position: relative;
}

.intro-item3 .intro-item3__info {
    width: 135px;
    height: 96px;
    margin-right: 56px;
}

.intro-item3__info h3 {
    font-family: var(--poppins);
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    text-align: left;
    color: #232536;
}

.intro-item3__info img {
    width: 73px;
    height: 6px;
}

.intro-item3__info p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #000000;
}

.btn-intro {
    width: 156px;
    height: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position: absolute;
    right: 0;
}

.btn-intro p {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #444FCF;
}

.btn-intro img {
    width: 24px;
    height: 10px;
}

/*===------------------//ended styles of intro section------------------===*/







/*===------------------started styles of second-intro section------------------===*/
.second-intro {
    width: 100%;
    height: 660px;
    background-color: #ecf8f9;
    position: absolute;
}

.second-intro_items {
    width: 100%;
    height: 468px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;

}

.second-intro__item1 {
    width: 624px;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second-intro__item1 .caption {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: #000000;
}

.second-intro__item1 h2 {
    font-family: var(--poppins);
    font-size: 48px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
}

.second-intro__item1 p {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #5D5F6D;
}

.second-intro__item2 {
    width: 515px;
    height: 468px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.second-intro__item2-child {
    width: 515px;
    height: 140px;
    display: flex;
    background-color: #ffffff;
}

.second-intro__extraBox {
    width: 16px;
    height: 16px;
    background-color: #444FCF;
    margin-bottom: -16px;
}

.second-intro__item2-child img {
    width: 47px;
    height: 47px;
    margin-top: 27px;
    margin-left: 27px;
}

.second-intro__item2-child div {
    width: 303px;
    margin-top: 27px;
    margin-left: 12px;
}

.second-intro__item2-child div h6 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #000000;
}

.second-intro__item2-child div p {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #5D5F6D;
}

.second-intro__borderB {
    width: 100%;
    height: 8px;
    display: flex;
    margin-top: -13px;
}

.second-intro__borderB .color1 {
    width: 30%;
    height: 8px;
    background-color: #ffa155;
}

.second-intro__borderB .color2 {
    width: 40%;
    height: 8px;
    background-color: #ffd3af;
}

.second-intro__borderB .color3 {
    width: 30%;
    height: 8px;
    background-color: #434cfc;
}

/*===------------------//ended styles of second-intro section------------------===*/







/*===------------------started styles of main-intro section------------------===*/
.main-intro {
    width: 100%;
    height: 979px;
    background-color: #ffe6d2;
    position: absolute;
}

.main-intro__items {
    width: 100%;
    height: 979px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main-intro .main-intro__item1 {
    width: 777px;
    height: 310px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-intro__item1 p {
    font-family: var(--poppins);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-align: left;
    color: #000000;
}

.main-intro__item1 h2 {
    font-family: var(--poppins);
    font-size: 51px;
    font-weight: 600;
    line-height: 58px;
    text-align: left;
    color: #232536;
    margin-top: -18px;
}

.main-intro__btn {
    width: 214px;
    height: 64px;
    border: none;
    background-color: #434cfc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.main-intro__btn .main-intro__btn-text {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #FFFFFF;
}

.main-intro .main-intro__item2 {
    width: 1280px;
    height: 335px;
    display: flex;
    justify-content: space-between;
}

.main-intro__item2-child {
    width: 405px;
    height: 335px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 36px 24px 36px 50px;
    background-color: #fff;
}

.main-intro__item2-child .main-intro__logo {
    width: 47px;
    height: 47px;
}

.main-intro__item2-child h6 {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    text-align: left;
    color: #000000;
    margin-top: 16px;
}

.main-intro__item2-child .main-intro__text {
    font-family: var(--poppins);
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #5D5F6D;
    margin-top: 20px;
    width: 280px;
    height: auto;
}

.main-intro__item2-child a {
    width: 125px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin-top: 24px;
}

.main-intro__item2-child a .main-intro__link {
    font-family: var(--poppins);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #444FCF;
}

.main-intro__item2-child a img {
    width: 24px;
    height: auto;
}
/*===------------------//ended styles of main-intro section------------------===*/

